<strong>Olá, administrador</strong>
<p>Um novo processo foi criado, confira os detalhes abaixo:</p>
<p>
    <strong>Empresa selecionada:</strong>{{ empresa }}</br>
    <strong>Tipo de cobrança:</strong>{{ tipoprocesso }}</br>
    <strong>Número do Processo:</strong>{{ numeroprocesso }}</br>
</p>